<div class="ezy__nav7 light">
	<nav class="navbar navbar-expand-lg flex-column navbar-light py-3">
		<div class="container">
			<a class="navbar-brand" href="#">
				LOGO
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#ezy_nav7-navbar-text"
				aria-controls="ezy_nav7-navbar-text" aria-expanded="false" aria-label="Toggle navigation">
				<span>
					<span></span>
				</span>
			</button>
			<div class="collapse navbar-collapse" id="ezy_nav7-navbar-text">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0 mt-4 mt-lg-0">
					<li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
					<!-- <li class="nav-item"><a class="nav-link" href="#">Services</a></li> -->
					<li class="nav-item"><a class="nav-link" href="/catalog">Portfolio</a></li>
					<!-- <li class="nav-item"><a class="nav-link" href="#">How It Works</a></li> -->
					<!-- <li class="nav-item">
						<a href="#" class="nav-link" data-bs-toggle="collapse" data-bs-target="#ezy_nav7-navbar-search"
							aria-expanded="false" aria-controls="ezy_nav7-navbar-search">
							<span class="fas fa-search"></span>
						</a>
					</li> -->
				</ul>
			</div>
		</div>
		<div class="container">
			<div class="collapse w-100" id="ezy_nav7-navbar-search">
				<form class="mt-4">
					<div class="input-group">
						<input class="form-control px-3" type="search" placeholder="City, Address, Zip" aria-label="Search" />
						<button class="btn ezy__nav7-btn px-3" type="submit">Search</button>
					</div>
				</form>
			</div>
		</div>
	</nav>
</div>
