<section class="ezy__header8_Y0xPiMlY">
  <div class="container position-relative">
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-5 col-xl-4 order-lg-2 mb-4 mb-lg-0 text-center text-lg-start">
        <img src="assets/profile1.JPG" alt=""
          class="img-fluid ezy__header8_Y0xPiMlY-img" />
      </div>
      <div class="col-lg-7 ps-lg-4 ps-xl-5">
        <p class="ezy__header8_Y0xPiMlY-sub-heading mb-2 opacity-50">UI Developer</p>
        <h2 class="ezy__header8_Y0xPiMlY-heading mb-4">Shashank Shekhar</h2>
        <p class="ezy__header8_Y0xPiMlY-sub-heading opacity-75">
          I'm Shashank Shekhar, an Angular developer based in Bengaluru. I have a keen interest in photography, capturing the world through my lens whenever I get the chance. In addition to my professional work, I find joy in exploring new places and immersing myself in music.
        </p>

        <div class="mt-5 ms-lg-5 p-3 px-md-5 py-lg-4 border-start border-secondary ezy__header8_Y0xPiMlY-meta">
          <p class="fs-4 mb-1"><span class="opacity-50 me-2 fw-light">Living </span><strong>Bengaluru, KA, India</strong></p>
          <p class="fs-4 mb-1"><span class="opacity-50 me-2 fw-light">Experience</span><strong>4+ Years</strong></p>
          <p class="fs-4 mb-0">
            <span class="opacity-50 me-2 fw-light">Date of Birth</span><strong>29 Sep 1993</strong>
          </p>
          <ul class="ezy__header8_Y0xPiMlY-social nav d-inline-flex mt-4">
            <li>
              <a href="https://www.linkedin.com/in/shashankshekhar2k15/" target="_blank">
                LinkedIn
              </a>
            </li>
            <li>
              <a href="https://gitlab.com/sunnyrocks1122" target="_blank">
                GitLab
              </a>
            </li>
            <li>
              <a href="https://github.com/shashankshekhar2909" target="_blank">
                Github
              </a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
